.hero-wrapper {
    background: url('images/top-hero-bg.png');
    background-size: cover;
    background-position: center center;
}

.hero {
    padding-top: 5%;
    padding-bottom: 5%;
}

.mechanic-button {
    color: white;
    background: #F3182E;
    padding: 20px 40px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: .4em;
    text-transform: uppercase;
    font-weight: 500;
}

.mechanic-button-outline {
    color: #F3182E;
    border: 2px solid #F3182E;
    padding: 20px 40px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: .4em;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-link {
    padding: 0 15px!important;
}

.bg-ec-dark {
    background: #0D0E12;
}

.white-bar {
    width: 130%;
    height: 64px;
    background: #fff;
}

.left-minus-10 {
    left: -10px;
}

.right-minus-10 {
    right: -10px;
}

.about .left img {
    max-width: 130%;
    width: 130%;
    margin-left: -30%;
}

.pe-9 {
    padding-right: 9rem;
}
.pt-9 {
    padding-top: 9rem;
}

.mt-150 {
    margin-top: 150px;
}

.statistics-card {
    background: #ffffff05;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5%;
}

.statistics-card h1 {
    font-size: 3rem;
    font-weight: 700;
}

.accordion-button {
    padding: 30px 0px;
    background-color: white!important;
    border: 0!important;
}

.accordion-flush>.accordion-item {
    border-bottom: 0;
}

.accordion-flush>.accordion-item:first-child {
    border-top: 2px solid #0D0E12;
}

.accordion-flush>.accordion-item {
    border-top: 2px solid #0D0E12;
    background-color: white;
}

.accordion-button:not(.collapsed) {
    color: #0D0E12;
}

.faq-bg {
    background: url('images/faq-bg.png');
    background-size: cover;
    background-position: center center;
}

.mt-80 {
    margin-top: 80px;
}

.cta {
    background: url('images/cta.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.cta .phone-no{
    padding-top: 600px;
    padding-bottom: 100px;
}

.red-bar {
    height: 90px;
    width: 15px;
    background: red;
}