.hero-wrapper {
    background: url('images/top-hero-bg.png');
    background-size: cover;
    background-position: center center;
}

.hero {
    padding-top: 5%;
    padding-bottom: 5%;
}

.mechanic-button {
    color: white;
    background: #F3182E;
    padding: 20px 40px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: .4em;
    text-transform: uppercase;
    font-weight: 500;
}

.mechanic-button-outline {
    color: #F3182E;
    border: 2px solid #F3182E;
    padding: 20px 40px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: .4em;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-link {
    padding: 0 15px!important;
}

.bg-ec-dark {
    background: #0D0E12;
}

.white-bar {
    width: 130%;
    height: 64px;
    background: #fff;
}

.left-minus-10 {
    left: -10px;
}

.about .left img {
    max-width: 130%;
    width: 130%;
    margin-left: -30%;
}

.pe-9 {
    padding-right: 9rem;
}

.mt-150 {
    margin-top: 150px;
}